/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

header {
	margin-bottom: 60px;
}

/*--------------------------BRREADCRUMBS--------------------*/

.section__title-and-breadcrumb {
	margin-bottom: 49px;
}

h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	text-transform: uppercase;
	color: #1E0606;
	margin-bottom: 15px;
}

.breadcrumb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.item-breadcrumb {
	margin-right: 24px;
}

.item-breadcrumb:not(:first-child) {
	opacity: 0.5;
}

.link-breadcrumb {
	font-family: 'Crimson Text';
	font-style: italic; 
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #1E0606;
}

.item-breadcrumb:not(:last-child)::after {
	display: inline-block;
	content: "";
	background-image: url(../assets/icon/arrow.svg);
	width: 8px;
	height: 13px;
	
	/* Black */
	
	background-repeat: no-repeat;
	background-size: cover;

	margin-left: 20px;
	margin-right: 2opx;
}

/*--------------------------BRREADCRUMBS--------------------*/
/*--------------------------CONTENT-------------------------*/
.cards-tales{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.tales {
	width: 380px;
	height: 491px;
	margin-bottom: 20px;
}

/*.tale-mr {
	margin-right: 20px;
}*/

.tale-img {
	margin-bottom: 20px;
}

.tale-date {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #818181;
	
	mix-blend-mode: normal;

	margin-bottom: 7px;
}

.tale-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
	color: #1E0606;
}

.tale-title:hover {
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
	color: #1E0606;
	cursor: pointer;
}

.tale-title:active {
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
	color: #1E0606;
}

.tale-text {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #1E0606;
	margin-top: 15px;
}
/*--------------------------CONTENT-------------------------*/
/*--------------------------SWITCH-------------------------*/


.switch {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 62px;
	margin-top: 20px;
	display: flex;
	-ms-flex-line-pack: center;
	    align-content: center;
}

.list-pages-product {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: center;
	    align-content: center;
}

/*-------------button-browsing---------------*/
/*-----button-number-----*/
.button-prod {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #1E0606;
	background-color: #FFFFFF;
}


.item-prod:not(:last-child) {
	margin-right: 67px
}

.button-prod:hover {
	color: #C29974;
}

.button-prod:active {
	color: #AAAAAA;
}
/*-----button-number-----*/
/*-----button-arrow--------*/
.arrow {
	display: block;
	width: 13px;
	height: 26px;
}

.arrow-left {
	position: absolute;
	left: 0;
	background-image: url(../assets/icon/arrow-products-left-opacity.svg);
	background-color: #FFFFFF;
	background-size: cover;
	background-repeat: no-repeat;
	width: 17px;
	height: 28px;
}

.arrow-right {
	position: absolute;
	right: 0;
	background-image: url(../assets/icon/arrow-products-right-opacity.svg);
	background-color: #FFFFFF;
	background-size: cover;
	background-repeat: no-repeat;
	width: 17px;
	height: 28px;
}
/*-----button-arrow--------*/
/*-----button-arrow-hover--------*/
.arrow-left:hover {
	position: absolute;
	left: 0;
	background-image: url(../assets/icon/arrow-products-left-hoover.svg);
	background-color: #FFFFFF;
	background-size: cover;
	background-repeat: no-repeat;
	width: 17px;
	height: 28px;
}

.arrow-right:hover {
	position: absolute;
	right: 0;
	background-image: url(../assets/icon/arrow-products-right-hoover.svg);
	background-color: #FFFFFF;
	background-size: cover;
	background-repeat: no-repeat;
	width: 17px;
	height: 28px;
}
/*-----button-arrow-hover--------*/
/*-----button-arrow-active--------*/
.arrow-left:active {
	position: absolute;
	left: 0;
	background-image: url(../assets/icon/arrow-products-left-active.svg);
	background-color: #FFFFFF;
	background-size: cover;
	background-repeat: no-repeat;
	width: 16px;
	height: 26px;
}

.arrow-right:active {
	position: absolute;
	right: 0;
	background-image: url(../assets/icon/arrow-products-right-active.svg);
	background-color: #FFFFFF;
	background-size: cover;
	background-repeat: no-repeat;
	width: 16px;
	height: 26px;
}
/*-----button-arrow-active--------*/
/*-------------button-browsing---------------*/
/*--------------------------SWITCH-------------------------*/

.footer {
	margin-top: 0%;
}