/*--------------------------------------------------------------------------ОБНУЛЕНИЕ------------------------------------------------------------------------*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header {
	display: block;
}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat';
	font-weight: 700;
	text-transform: uppercase;
	color: #1E0606;
}

p {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	color: #1E0606;
}


body {
	/*font-family: 'Archivo', sans-serif;
	font-family: 'Crimson Text', serif;
	font-family: 'Lato', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;*/
	font-weight: 400;
	font-size: 16px;
	align-items: 21px;
	color: #FFFFFF;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
}

li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*.undotted {
	list-style-type: none;
	margin: 0;
	padding: 0;
}  не помню для чего на занятиях мы создавали такой класс */ 

/*--------------------------------------------------------------------------ОБНУЛЕНИЕ------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------HEADER------------------------------------------------------------------------*/

.header {
	/*margin-bottom: 40px;*/
}

.container__header {
	display: flex;
	align-items: center;
	margin-top: 50px;
	padding-right: 0;
	/*margin-bottom: 40px;*/
	justify-content: space-between;
}

.nav {
	margin-right: auto;
}

.list__header {
	display:flex;
	align-items: center;
}

.search-contact-us {
	display: flex;
	align-items: center;
}

.link__contact-us {
}

.logo-img {
	width: 100.2px;
	height: 52px;
	margin-right: 60.06px;
}

.link {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	align-items: center;
	text-transform: uppercase;
	color: #1E0606;
	margin-right: 20.02px;
}

.search {
	padding-left: 6x;
}

.search-icon {
	width: 24.02px;
	height: 24px;
	
}

.link__contact-us {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	
	/* Black */
	
	color: #1E0606;
	margin: 0;
	margin-left: 20.02px;
}


/*---------interactive-header------*/
.logo-img:hover {
	opacity: 0.5;
}

.logo-img:active {
	opacity: 0.2;
}

.item__header:hover {
	opacity: 0.5;
}

.item__header:active {
	opacity: 0.2;
}

.search-icon:hover {
	opacity: 0.5;
}

.search-icon:active {
	opacity: 0.2;
}

.link__contact-us:hover {
	opacity: 0.5;
}

.link__contact-us:active {
	opacity: 0.2;
}

/*--------------------------------------------------------------------------HEADER------------------------------------------------------------------------*/
/*------------------------------------BUTTON------------------------------------*/

.button {
	font-family: 'Open Sans';
	display: block;
	text-transform: uppercase;
	border: none;
	width: 161px;
	height: 40px;
	color: #FFFFFF;
	background: black;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	text-align: center;
	padding: 9px;
}

.button:hover {
	background: #C29974;
}

.button:active {
	background: #CFAF91;
}

.button:disabled {
	background: #C7C1C1;
}

/*------------------------------------BUTTON------------------------------------*/
/*--------------------------------------------------------------------------FOOTER------------------------------------------------------------------------*/

.footer {
	margin-top: 150px;
	background-color: #434343;
}

.container__footer {
	
}

.nuv-cus-con {
	display: flex;
}

.ft {
	margin-top: 100px;
	width: 380px;
	height: 281px;
}

.ft:not(:last-child) {
	margin-right: 20px;
}

.text-footer {
	font-family: 'Open Sans';
	font-weight: 400;
	line-height: 22px;
	color: #AAAAAA;
	margin-bottom: 23px;
}

.item__footer:not(:last-child) {
	margin-bottom: 15px;
}

.link__footer {
	font-family: 'Open Sans';
	font-weight: 400;
	line-height: 22px;
	color: #FFFFFF;
	text-transform: capitalize;
}

.link__footer:hover {
	opacity: 0.5;
}

.link__footer:active {
	opacity: 0.2;
}

.line {
	border-bottom: solid 1px #666666;
	width: 380px;
	margin-bottom: 28px;
}

.line-allwidth {
	border-bottom: solid 1px #666666;
	max-width: 100%;
	margin: 28px 0 23px 0;
}

.button__join {
	width: 81px;
	height: 40px;
}

.form-email {
	display: flex;
}

.enter-email {
	width: 380px;
	height: 40px;
	background: #666666;
	color: #ffffff;
	padding: 0;
	padding-left: 15px;
}

.enter-email::placeholder {
	color: #ffffff;
	/*padding-left: 15px;*/
}

.enter-email, :placeholder-shown {
	font-family: 'Open Sans';
	font-weight: 400;
	line-height: 16px;
	color: #ffffff;
}

.enter-email:hover {
	box-sizing: border-box;
	border: 1px solid #FFFDFD;
	border-right: none;
}

.enter-email:active {
	box-sizing: border-box;
	border: 1px solid #FFFDFD;
	border-right: none;
}

.social {
	width: 150px;
	height: 30px;
	display: flex;
	margin-top: 25.02px;
}

.social-img {
	margin-right: 10px;
}

.social-img:hover {
	opacity: 0.5;
}

.social-img:active {
	opacity: 0.2;
}

.text-buttom {
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin-bottom: 100px;
}

.text__company-rating {
	margin-right: 20.02px;
}



.text__copyright{
	margin-right: 109px;
	margin-left: 15px;
}

.web-design {
	color: #A2A2A2;
}

.web-design:hover {
	color: #FFFFFF;
	text-decoration-line: underline;
}

.web-design:active {
	color: #FFFFFF;
	text-decoration-line: underline;
	opacity: 0.5;
}

.com-cop-des {
	display: flex;
}

.company-rating {
	/*display: flex;*/
	margin-right: 154.88px;
}

.rating-area {
	display: flex;
	margin-left: 25.02px;
}

.rating__items:not(:last-child) {
	position: relative;
	margin-right: 2.88px;
}


/*--------------------------------------------------------------------------FOOTER------------------------------------------------------------------------*/














/*     ---------------------------      RATING        ----------------------  */


.rating {
	margin: 0;
	padding: 0;
	border: none;
}

.rating-wrap {
	display: flex;
}


.rating__caption {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */
	
	display: flex;
	align-items: center;
	
	color: #FFFFFF;

	/*margin-bottom: 0.5em;*/
	margin-right: 25.02px;
}


.rating__group {
	position: relative;
	width: 5em;
	height: 2em;
	background-image: url(../assets/icon/off.svg);
	background-size: 1em 1.9em;
	background-repeat: repeat-x;

}

.rating__input {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}


/*   Рамка фокуса  */
.rating__input:focus ~ .rating__focus {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	outline: solid 0.2em #836E5B;
	outline-offset: 0.2em;
}


/*   Star   */
.rating__star {
	position: absolute;
	top: 0;
	left: 0%;
	height: 2em;
	margin: 0;
	font-size: inherit;
	-webkit-appearance: none;	
	-moz-appearance: none;
	appearance: none;
	background-size: 1em 1.9em;
	background-repeat: repeat-x;
	margin-right: 2.88px;
}

.rating__star:focus {
	outline: none;
}

.rating__star:hover {
	background-image: url(../assets/icon/on.svg);
}

.rating__input:checked + .rating__star {
	background-image: url(../assets/icon/Star-active.svg);
}



.rating__star:hover ~ .rating__star {
	background-image: url(../assets/icon/off.svg);
}


/*   Options    */

.rating__star:nth-of-type(1) {
	z-index: 5;
	width: 1em;
}

.rating__star:nth-of-type(2) {
	z-index: 4;
	width: 2em;
}

.rating__star:nth-of-type(3) {
	z-index: 3;
	width: 3em;
}

.rating__star:nth-of-type(4) {
	z-index: 2;
	width: 4em;
}

.rating__star:nth-of-type(5) {
	z-index: 1;
	width: 5em;
}


/*     ---------------------------      RATING        ----------------------  */