/*--------------------------------------------------------------------------ОБНУЛЕНИЕ------------------------------------------------------------------------*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header {
	display: block;
}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat';
	font-weight: 700;
	text-transform: uppercase;
	color: #1E0606;
}

p {
	/*font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;*/
	color: #1E0606;
}


body {
	/*font-family: 'Archivo', sans-serif;
	font-family: 'Crimson Text', serif;
	font-family: 'Lato', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;*/
	font-weight: 400;
	font-size: 16px;
	align-items: 21px;
	color: #FFFFFF;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
}

li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*.undotted {
	list-style-type: none;
	margin: 0;
	padding: 0;
}  не помню для чего на занятиях мы создавали такой класс */ 

/*--------------------------------------------------------------------------ОБНУЛЕНИЕ------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------HEADER------------------------------------------------------------------------*/

.container-header {
	display: flex;
	align-items: center;
	margin-top: 50px;
	padding: 0;
	justify-content: space-between;
}


/*------logo-header------*/
.logo__img {
	width: 100.08px;
	height: 52px;
	margin-right: 60.06px;
}

.logo__img:hover {
	opacity: 0.5;
}

.logo__img:active {
	opacity: 0.2;
}
/*------logo-header------*/

/*------nav--------------*/
.nav {
	margin-right: auto;
}

.list-header {
	display:flex;
	align-items: center;
}

.list-header__item:hover {
	opacity: 0.5;
}

.list-header__item:active {
	opacity: 0.2;
}

.list-header__link {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	align-items: center;
	text-transform: uppercase;
	color: #1E0606;
	margin-right: 20.02px;
}

/*------nav--------------*/
/*------search-contact-us--------*/
.list-right {
	display: flex;
	align-items: center;
}

/*--search__icon---*/
.list-right__search {
	padding-left: 6x;
}

.list-right__icon {
	width: 24.02px;
	height: 24px;
	cursor: pointer;
}

.list-right__icon:hover {
	opacity: 0.5;
}

.list-right__icon:active {
	opacity: 0.2;
}
/*--search__icon---*/

.list-right__link {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 14px;
	line-height: 19.07px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #1E0606;
	margin: 0;
	margin-left: 20.02px;
	word-spacing: 4px;
}

.list-right__link:hover {
	opacity: 0.5;
}

.list-right__link:active {
	opacity: 0.2;
}
/*------search-contact-us----------*/
/*--------------------------------------------------------------------------HEADER------------------------------------------------------------------------*/
/*------------------------------------BUTTON------------------------------------*/

.button {
	font-family: 'Open Sans';
	display: block;
	text-transform: uppercase;
	border: none;
	width: 161px;
	height: 40px;
	color: #FFFFFF;
	background: black;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	text-align: center;
	padding: 9px;
}

.button:hover {
	background: #C29974;
}

.button:active {
	background: #CFAF91;
}

.button:disabled {
	background: #C7C1C1;
}




/*------------------------------------BUTTON------------------------------------*/
/*--------------------------------------------------------------------------FOOTER------------------------------------------------------------------------*/

.footer {
	background-color: #434343;
}

.footer-list {
	display: flex;
}

.footer-list__item {
	margin-top: 100px;
	width: 380px;
	height: 281px;
}

.footer-list__item:not(:last-child) {
	margin-right: 20px;
}

/*--Navigation-Custom-information-Connect--*/
.footer-list__text {
	font-family: 'Open Sans';
	font-weight: 400;
	line-height: 22px;
	color: #AAAAAA;
	margin-bottom: 23px;
}

.footer-list__line {
	border-bottom: solid 1px #666666;
	width: 380px;
	/*margin-bottom: 28px;*/
}
/*--Navigation-Custom-information-Connect--*/

/*----column------------------------*/
.column-list {
	margin-top: 28px;
}

.column-list__item:not(:last-child) {
	margin-bottom: 15px;
}

.column-list__link {
	font-family: 'Open Sans';
	font-style: normal;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #FFFFFF;
	text-transform: capitalize;
	/*letter-spacing: 1.02px;*/
}

.column-list__link:hover {
	opacity: 0.5;
}

.column-list__link:active {
	opacity: 0.2;
}
/*----column------------------------*/

.form-email {
	margin-top: 25px;
}

.form-email__block {
	display: flex;
	align-items: flex-start;
}

.form-email__input {
	width: 299px;
	height: 41px;
	background: #666666;
	color: #ffffff;
	padding: 0;
	padding-left: 15px;
}

.form-email__input::placeholder {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */
	
	display: flex;
	/*align-items: center;*/
	color: #EBEBEB;
	/*padding-left: 15px;*/
}

.form-email__input, :placeholder-shown {
	font-family: 'Open Sans';
	font-weight: 400;
	line-height: 16px;
	color: #ffffff;
	padding: 9px 15px;
	align-items: center;
}

.form-email__input:hover {
	box-sizing: border-box;
	border: 1px solid #FFFDFD;
	border-right: none;
}

.form-email__input:active {
	box-sizing: border-box;
	border: 1px solid #FFFDFD;
	border-right: none;
}

.form-email__button {
	width: 81px;
	height: 40px;
}

/*     SOCIAL ICON FOOTER    */
.social {
	position: relative;
	width: 150px;
	height: 30px;
	display: flex;
	margin-top: 24px;
}

.social__img {
	margin-right: 10px;
}

.social__img-facebook::before {
	position: absolute;
	content: "";
	background-image: url(../assets/icon/Facebook.svg);
	background-size: cover;
	width: 30px;
	height: 30px;
	left: 1px;
}

.social__img-twitter::before {
	position: absolute;
	content: "";
	background-image: url(../assets/icon/Twitter.svg);
	background-size: cover;
	width: 30px;
	height: 30px;
	left: 41px;
}

.social__img-pinterest::before {
	position: absolute;
	content: "";
	background-image: url(../assets/icon/Pinterest.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	left: 81px;
}

.social__img-instagram::before {
	position: absolute;
	content: "";
	background-image: url(../assets/icon/Instagram.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	left: 121px;
}

.social__img:hover {
	opacity: 0.5;
}

.social__img:active {
	opacity: 0.2;
}
/*     SOCIAL ICON FOOTER    */

/*-----------------------*/
.line-max-width {
	border-bottom: solid 1px #666666;
	max-width: 100%;
	margin: 28px 0 23px 0;
}
/*-----------------------*/

.footer-bottom {
	display: flex;
}

/*     ------  rating  --------  */

.footer-bottom-rating {
	/*display: flex;*/
	margin-right: 134.4px;
}

.rating-block {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.rating-block__txt {
	display: flex;
	align-items: center;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	margin-right: 28px;
	letter-spacing: 0.0px;
}

.rating-area {
   position: relative;
   overflow: hidden;
   margin: 0 0;
   margin-top: 4px;
   flex-direction: row-reverse;
   display: flex;
   align-items: center;
}

.label-rating {
	width: 13px;
	height: 13px;
}

.rating-area:not(:checked) > input {
   display: none;
}
.rating-area:not(:checked) > label {
   float: right;
   cursor: pointer;
   font-size: 17px;
   color: rgba(red, green, blue, 0.0);
   margin-right: 7px;
   background-image: url(..//assets/icon/star.svg);
	background-size: cover;
	width: 13px;
	height: 13px;
}
.rating-area:not(:checked) > label:before {
   content: '';
   position: absolute;
   width: 13px;
   height: 13px;
   top: 0;
}
.rating-area > input:checked ~ label {
   color: #FFFFFF;;
   background-image: url(..//assets/icon/Star-checked.svg);
   width: 13px;
   height: 13px;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	background-image: url(..//assets/icon/star-hover.svg);
	background-repeat: no-repeat;
	width: 13px;
   height: 13px;
   color: #FFFFFF;;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	background-image: url(..//assets/icon/star-hover.svg);
	background-repeat: no-repeat;
	width: 13px;
   height: 13px;
}
.rate-area > label:active {
   position: relative;
   opacity: 0.5;
}

.rating__items:not(:last-child) {
	position: relative;
	margin-right: 2.88px;
}

/*     ------  rating  --------  */
/*     ------  copyright  --------  */

.footer-bottom__copyright {
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin-bottom: 100px;
}

.copyright{

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	letter-spacing: 0.02px;
	margin-right: 110px;
	margin-left: 15px;
}
/*     ------  copyright  --------  */
/*     ------  web-design  --------  */

.footer-bottom__web-design {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */
	color: #A2A2A2;
}

.footer-bottom__web-design:hover {
	color: #FFFFFF;
	text-decoration-line: underline;
}

.footer-bottom__web-design:active {
	color: #FFFFFF;
	text-decoration-line: underline;
	opacity: 0.5;
}
/*     ------  web-design  --------  */

/*--------------------------------------------------------------------------FOOTER------------------------------------------------------------------------*/