/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

header {
	margin-bottom: 60px;
}

/*--------------------------BRREADCRUMBS--------------------*/

.section__title-and-breadcrumb {
	margin-bottom: 50px;
}

h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	text-transform: uppercase;
	color: #1E0606;
	margin-bottom: 14px;
}

.breadcrumb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.item-breadcrumb {
	margin-right: 20px;
}

.item-breadcrumb:not(:first-child) {
	opacity: 0.5;
}

.link-breadcrumb {
	font-family: 'Crimson Text';
	font-style: italic; 
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #1E0606;
}

.item-breadcrumb:not(:last-child)::after {
	display: inline-block;
	content: "";
	background-image: url(../assets/icon/arrow.svg);
	width: 8px;
	height: 13px;
	
	/* Black */
	
	background-repeat: no-repeat;
	background-size: cover;

	margin-left: 20px;
	margin-right: 2opx;
}

/*--------------------------BRREADCRUMBS--------------------*/
/*--------------------------FORM--------------------------------------------*/

.section__form {
	margin-bottom: 62px;
}

.container__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.form-page {
	width: 680px;
	padding: 40px 42px 40px 40px;
	background: #E5EAF8;
}

label {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19.07px;
	
	/* Black */
	
	color: #1E0606;

	margin-bottom: 3.4px;
}

input {

	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #1E0606;
	padding: 14px 0 11px 20px;
}

.input-name {
	padding-left: 20px;
}

.name {
	margin-top: 2px;
}

.input-name {
	width: 600px;
	height: 50px;
}

.input-tel,
.input-email {
	width: 290px;
	height: 50px;
}


.name, .tel, .email, .mess {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-bottom: 21px;
	width: 100%;
}

.tel-email {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.tel {
	margin-right: 10px;
}

.email {
	margin-left: 10px;
}

.textarea-mess {
	width: 600px;
	height: 150px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #1E0606;

	padding: 14px 0 11px 20px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.check {
	/*margin-bottom: 15px;*/
}

.input-check {
	margin-right: 15px;
	margin-bottom: 17px;

	border: 2px solid #C29974;
	border-radius: 3px;
}

.label-check {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #1E0606;
}

/*-------checkbox--------*/

.input-check {
	position: absolute;
	width: 19px;
	height: 19px;
	z-index: -1;
	opacity: 0;
}

.input-check+.label-check {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	margin-bottom: 18px;
 }
 .input-check+.label-check::before {
	content: '';
	display: inline-block;
	width: 19px;
	height: 19px;
	/*flex-shrink: 0;
	flex-grow: 0;*/
	border: 2px solid #C29974;
	border-radius: 3px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	cursor: pointer;
	margin-right: 15px;
 }


 .input-check:checked+.label-check::before {
	background-image: url("../assets/icon/chek-checked.svg");
	background-size: 15px 17px;
	background-position: 100% 100%;
	/*width: 11.43px;
	height: 12.5px;*/
 }

/*--------hover-active-label-----*/
.input-check:checked ~ label {
	
}

.input-check:hover ~ label {

}

.input-check:active ~ label.label-check {
	opacity: 0.2;
}

.input-check:disabled ~ label {
	opacity: 0.2;
}

.label-check:active {
	opacity: 0.2;
}

.label-check:disabled {
	opacity: 0.2;
}






/*-------checkbox--------*/

/*  ----------  INPUT-CHECK  SUBMIT-DISABLED  ---------  */

.input-check ~ .button-submit {
	display: none;
}

.input-check:checked ~ .button-disabled  {
	display: none;
}

.input-check:checked ~ .button-submit {
	display: block;
}

.button-submit,
.button-disabled {
	width: 106px;
}

/*  ----------  INPUT-CHECK  SUBMIT-DISABLED  ---------  */


/*          HOVER/ACTIVE          */
input:hover {
	border: 1px solid #C29974;
}

textarea:hover {
	border: 1px solid #C29974;
}

input:active {
	border: 1px solid #C29974;
}

textarea:active {
	border: 1px solid #C29974;
}

input:disabled {
	border: 1px solid #EBEBEB;
}

textarea:disabled {
	border: 1px solid #EBEBEB;
}

/*--------------------------FORM--------------------------------------------*/
/*--------------------------TEXT-RIGHT--------------------------------------------*/

.content-support {
	width: 380px;
	margin-left: 120px;
}

.text-support {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #1E0606;

	margin-bottom: 20px;
}

.text-support-up {
	margin-bottom: 20px;
}

.text-support-down {
	margin-bottom: 19px;
}

h3 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 26px;
	line-height: 34px;
	text-transform: uppercase;
	color: #C29974;
}

/*--------------------------TEXT-RIGHT--------------------------------------------*/