body {
	background-color: #434343;
}

.rating {
	margin: 0;
	padding: 0;
	border: none;
}


.rating__caption {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */
	
	display: flex;
	align-items: center;
	
	color: #FFFFFF;

	margin-bottom: 0.5em;
}

.rating__group {
	position: relative;
	width: 10em;
	height: 2em;
	background-image: url(../assets/icon/off.svg);
	background-size: 2em auto;
	background-repeat: repeat-x;
}


/*   Рамка фокуса
.rating__group:focus-within {
	outline: solid 0.2em #836E5B;
	outline-offset: 0.2em;
}
*/

/*   Star   */
.rating__star {
	position: absolute;
	top: 0;
	left: 0%;
	height: 2em;
	margin: 0;
	font-size: inherit;
	-webkit-appearance: none;	
	-moz-appearance: none;
	appearance: none;
	background-size: 2em auto;
	background-repeat: repeat-x;
}

.rating__star:focus {
	outline: none;
}

.rating__star:checked,
.rating__star:hover {
	background-image: url(../assets/icon/on.svg);
}

.rating__star:hover ~ .rating__star {
	background-image: url(../assets/icon/off.svg);
}

/*   Options    */

.rating__star:nth-of-type(1) {
	z-index: 5;
	width: 2em;
}

.rating__star:nth-of-type(2) {
	z-index: 4;
	width: 4em;
}

.rating__star:nth-of-type(3) {
	z-index: 3;
	width: 6em;
}

.rating__star:nth-of-type(4) {
	z-index: 2;
	width: 8em;
}

.rating__star:nth-of-type(5) {
	z-index: 1;
	width: 10em;
}


/*     ---------------------------      VARIANT 2        ----------------------  */


body {
	background-color: #434343;
}

.rating {
	margin: 0;
	padding: 0;
	border: none;
}


.rating__caption {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */
	
	display: flex;
	align-items: center;
	
	color: #FFFFFF;

	margin-bottom: 0.5em;
}

.rating__group {
	position: relative;
	width: 10em;
	height: 2em;
	background-image: url(../assets/icon/off.svg);
	background-size: 2em 1.9em;
	background-repeat: repeat-x;
}

.rating__input {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}


/*   Рамка фокуса  */
.rating__input:focus ~ .rating__focus {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	outline: solid 0.2em #836E5B;
	outline-offset: 0.2em;
}


/*   Star   */
.rating__star {
	position: absolute;
	top: 0;
	left: 0%;
	height: 2em;
	margin: 0;
	font-size: inherit;
	-webkit-appearance: none;	
	-moz-appearance: none;
	appearance: none;
	background-size: 2em 1.9em;
	background-repeat: repeat-x;
}

.rating__star:focus {
	outline: none;
}

.rating__input:checked + .rating__star,
.rating__star:hover {
	background-image: url(../assets/icon/on.svg);
}

.rating__star:hover ~ .rating__star {
	background-image: url(../assets/icon/off.svg);
}

/*   Options    */

.rating__star:nth-of-type(1) {
	z-index: 5;
	width: 2em;
}

.rating__star:nth-of-type(2) {
	z-index: 4;
	width: 4em;
}

.rating__star:nth-of-type(3) {
	z-index: 3;
	width: 6em;
}

.rating__star:nth-of-type(4) {
	z-index: 2;
	width: 8em;
}

.rating__star:nth-of-type(5) {
	z-index: 1;
	width: 10em;
}