
/*--------------------------------------------------------------------------EXPLORE-----------------------------------------------------------------------------*/

.section__explore {
	margin-top: 129px;

}

.explore-ul {
	position: relative;
	display: flex;
	background: #EEE4DB;
	margin-top: 89px;
}




/*       FOR JS         */
.explore-two {
	position: relative;
	display: flex;
	background: rgba(255, 14, 215, 0.809);
	margin-top: 89px;
}

.explore-tree {
	position: relative;
	display: flex;
	background: rgb(15, 255, 115);
	margin-top: 89px;
}

.explore-fourth {
	position: relative;
	display: flex;
	background: rgb(192, 105, 255);
	margin-top: 89px;
}

/*-----------------цифра-и-переключалки-4-полоски-------*/

.number-rectangle{
	margin-left: 31.02px;
	margin-right: 72.02px;
}


.rectangle__container {
	/*background: #EEE4DB;*/
	rgba(0, 0, 0, 0);
}

.number-page {
	width: 61px;
	height: 74px;
	font-family: 'Montserrat';
	font-weight: 200;
	font-size: 60px;
	line-height: 73px;
	color: rgba(30, 6, 6, 0.05);
	margin-top: 17px;
}

.rectangle {
margin-top: 10px;
}

.item__rectangle {
	border: 1px solid #D6CAC2;
	width: 31px;
	height: 3px;
	background-color: #D6CAC2;
	margin-bottom: 11px;
}

.item__rectangle:checked{
	border: 1px solid #725F5B;
	background-color: #725F5B;
}

.item__rectangle:active{
	border: 1px solid #725F5B;
	background-color: #725F5B;
}

.item__rectangle:hover{
	border: 1px solid #725F5B;
	background-color: #725F5B;
}
/*-----------------цифра-и-переключалки-4-полоски-------*/
/*-----------------theoohnoo-collection----------------------------*/

.theoohnoo{
	margin-top: 89px;
}

.title-explore {
	width: 307px;
	height: 88px;
	font-weight: 700;
	font-size: 40px;
	line-height: 110%;
	color: #1E0606;
	margin-bottom:  20px;
}

.italic {
	width: 151.12px;
	height: 26px;
	font-family: 'Crimson Text';
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	margin-bottom:  20px;
}

.button__explore {
	margin-bottom: 89px;
}

.explore-image{
	position: absolute;
	/*top: -89px;*/
	bottom: 0;
	z-index: 1;
	/*padding-top: -89px;*/
	/*margin-top: auto;*/
}

.bottom-text {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #C29974;
	margin-bottom: 90px;
	padding: 11px;
	z-index: 10;
}

/*--------------------------------------------------------------------------EXPLORE-----------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------CATEGORY----------------------------------------------------------------------------*/

.title-category {
	width: 454px;
	height: 47px;
	font-weight: 700;
	font-size: 38px;
	line-height: 46px;
	margin-bottom: 30px;
}

.category-products {
	display: flex;
}

.cards {
	display: flex;
	position: relative;
	width: 280px;
	height: 270px;
	align-items: center;
	justify-content: center;
}

.cards-link {
	position: absolute;
	color: #FFFFFF;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 26px;
	line-height: 32px;
	text-transform: uppercase;
	text-align: center;
	width: 129px;
}

.cards-link:hover {
	text-decoration-line: underline;
}

.cards-link:active {
	text-decoration-line: underline;
}

.card-link-acc {
	width: 192px;
}

	.cards__apparel {
		background-color: #DBE4DB;
		margin-right: 20px;
	}

	.cards__holiday {
		background-color: #EADDD3;
		margin-right: 20px;
	}

	.cards__toys {
		background-color: #F8F2DA;
		margin-right: 20px;
	}

	.cards__accessories {
		background-color: #D5D4E1;
	}

	.cards__sale {
		background-color: #F3D0DB;
	}

	.cards__adults {
		background-color: #E5EAF8;
	}

	.bottom-switch {
		display: flex;
		margin: 30px 0 90px 0px;
		align-items: center;
	}




/* вариант1
	.category-button-left{
		margin-right: 6px;
		background-color: #FFFFFF;
	}

	.category-button-right{
		margin-right: 20px;
		background-color: #FFFFFF;
	}
	*/

	/* вариант кнопок 2 */
/*
	.arrow-btn-left {
		position: relative;
		display: flex;
		width: 37px;
		height: 37px;
		background: rgba(112, 187, 220, 0.2);
		margin-right: 6px;
		align-items: center;
		padding: 0;
	}

	.arrow-btn-right {
		position: relative;
		display: flex;
		width: 37px;
		height: 37px;
		background: rgba(112, 187, 220, 0.2);
		align-items: center;
		padding: 0;
	}

	.category-button-left {
		position: absolute;
		display: flex;
		left: 0;
		background-image: url(../assets/icon/arrow-products-left.svg);
		background-color: rgba(112, 187, 220, 0.0);
		background-size: cover;
		background-repeat: no-repeat;
		width: 17px;
		height: 29px;
		margin-left: 9px;
		
	}
	
	.category-button-right {
		position: absolute;
		display: flex;
		left: 0;
		background-image: url(../assets/icon/arrow-products-right.svg);
		background-color: rgba(112, 187, 220, 0.0);
		background-size: cover;
		background-repeat: no-repeat;
		width: 17px;
		height: 29px;
		margin-left: 9px;
	}

	.category-button-right{
		margin-right: 20px;
	}
	

	.text__bottom-switch {
		width: 580px;
		height: 44px;
		font-family: 'Open Sans';
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		margin-left: 20px;
	}
*/



/*-вариант-кнопок-3-*/


.category-button-left {
	position: relative;
	display: flex;
	width: 37px;
	height: 37px;
	background: rgba(112, 187, 220, 0.2);
	align-items: center;
	padding: 0;
	margin-right: 6px;
}

.category-button-right {
	position: relative;
	display: flex;
	width: 37px;
	height: 37px;
	background: rgba(112, 187, 220, 0.2);
	align-items: center;
	padding: 0;
	margin-right: 20px;
}


.category-button-left::before {
	content: "";
	position: absolute;
	display: flex;
	left: 0;
	background-image: url(../assets/icon/arrow-products-left.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 17px;
	height: 29px;
	margin-left: 9px;
}

.category-button-right::before {
	content: "";
	position: absolute;
	display: flex;
	left: 0;
	background-image: url(../assets/icon/arrow-products-right.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 17px;
	height: 29px;
	margin-left: 11px;
}

/*-----hover-------------------------*/
/*-----hover-left------*/

.category-button-left:hover::before {
	content: "";
	position: absolute;
	display: flex;
	left: 0;
	background-image: url(../assets/icon/arrow-products-left-hoover.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 17px;
	height: 29px;
	margin-left: 9px;
}

/*-----hover-left------*/
/*-----hover-right------*/
.category-button-right:hover::before {
	content: "";
	position: absolute;
	display: flex;
	left: 0;
	background-image: url(../assets/icon/arrow-products-right-hoover.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 17px;
	height: 29px;
	margin-left: 11px;
}
/*-----hover-right------*/
/*-----hover-------------------------*/
/*-----active-------------------------*/
/*-----active-left------*/

.category-button-left:active::before {
	content: "";
	position: absolute;
	display: flex;
	left: 0;
	background-image: url(../assets/icon/arrow-products-left-active.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 17px;
	height: 29px;
	margin-left: 9px;
}

/*-----active-left------*/
/*-----active-right------*/
.category-button-right:active::before {
	content: "";
	position: absolute;
	display: flex;
	left: 0;
	background-image: url(../assets/icon/arrow-products-right-active.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 17px;
	height: 29px;
	margin-left: 11px;
}
/*-----active-right------*/
/*-----active-------------------------*/

/* вариант кнопок 3 */

/*--------------------------------------------------------------------------CATEGORY----------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------DELIVERY----------------------------------------------------------------------------*/

.container__delivery {
	display: flex;
}

	.delivery-image {
		width: 480px;
		height: 559px;
		margin-right: 60px;
	}

.delivery__content {
	margin-top: 30px;
}

	.title-delivery {
		width: 199px;
		font-family: 'Montserrat';
		font-weight: 700;
		font-size: 38px;
		line-height: 46px;
		text-transform: uppercase;
		margin: 0 0 6px 60px;
	}

	.inscr {
		display: flex;
		align-items: center;
		width: 326px;
		height: 55px;
		background: rgba(112, 187, 220, 0.2);
		margin-bottom: 11px;
	}

	.title-inscription {
		width: 88px;
		font-family: 'Crimson Text';
		font-style: italic;
		font-weight: 700;
		font-size: 26px;
		line-height: 34px;
		margin-left: 60px;
	}

	.inscr-guarantee{ 
		width: 98px;
		font-family: 'Crimson Text';
		font-style: italic;
		font-weight: 400;
		font-size: 26px;
		line-height: 34px;
		margin: 0 0 22px 60px;
	}

	.inscr-credit {
		width: 58px;
		font-family: 'Crimson Text';
		font-style: italic;
		font-weight: 400;
		font-size: 26px;
		line-height: 34px;
		margin: 0 0 30px 60px;
	}

	.text__some-days {
		width: 480px;
		font-family: 'Open Sans';
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		margin: 0 0 15.2px 60px;
	}

	.text__what-started {
		width: 480px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		margin: 0 0 26px 60px;
	}

	.button__learn-more{
		width: 149px;
		height: 40px;
		margin-left: 60px;
	}

/*--------------------------------------------------------------------------DELIVERY----------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------WORK-WITH----------------------------------------------------------------------------*/

	.section__work-with {
		margin-top: 90px;
		margin-bottom: 90px;
		font-size: 0;
	}

	.work-with__images {
		display: flex;
	}

	.item__work-with:not(:last-child) {
		margin-right: 127px;
	}
/*--------------------------------------------------------------------------WORK-WITH----------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------BUY-NOW-----AND-MAP------------------------------------------------------------------*/

.section__buy-now {
	/*margin-bottom: 50px;*/
}

.container__buy-now {
	display: flex;
}

	.design-life-kids {
		width: 543px;
		height: 228px;
		background: #E1F0F7;
		margin-right: 57px;
	}

	.by-now__content {
		position: relative;
		bottom: 26px;
	}

	.title-design-life-kids {
		width: 357px;
		font-weight: 700;
		font-size: 38px;
		line-height: 46px;
		margin: 0 0 10px 30px;
	}

	.about-us {
		width: 86px;
		font-family: 'Crimson Text';
		font-style: italic;
		font-weight: 400;
		font-size: 26px;
		line-height: 34px;
		color: #1E0606;
		margin-left: 30px;
	}

	.text__buy-now {
		width: 483px;
		height: 67px;
		font-family: 'Open Sans';
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		margin: 9.02px 0 20px 30px;
	}

	.button__buy-now {
		width: 123px;
		height: 40px;
		margin-left: 30px;
		/*margin-bottom: 27.02px;*/
	}

	.contacts {
		width: 543px;
		height: 209px;
		background: #E1F0F7;
	}

	.title-contacts {
		width: 217px;
		height: 47px;
		left: 740px;
		top: 2043px;
		font-weight: 700;
		font-size: 38px;
		line-height: 46px;
		margin: 0 0 20px 30px;
	}

	.text__contacts {
		width: 483px;
		height: 66px;
		font-family: 'Open Sans';
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		margin: 0 0 30px 30px;
	}

	.map {
		margin-left: 30px;
	}

/*--------------------------------------------------------------------------BUY-NOW-----AND-MAP------------------------------------------------------------------*/



/*--------------------------FORM--------------------------------------------*/

.section__form {
	display: none;
	width: 100%;
	min-height: 100%;
	position: absolute;
	background: rgba(125, 151, 218, 0.8);
	top: 0;
	z-index: 12;
}

.open {
	display: block;
	position: fixed;
	
}

.container__form {
	display: flex;
	justify-content: center;
	margin-top: 112px;
}

.popup__form {
	width: 680px;
	padding: 40px 42px;
	background: #E5EAF8;
	
}

label {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	
	/* Black */
	
	color: #1E0606;

	margin-bottom: 3px;
}

input {

	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #1E0606;
	padding: 14px 0 11px 20px;
}

.name, .tel, .email, .mess {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	width: 100%;
}

.tel-email {
	display: flex;
	justify-content: space-between;
}

.tel {
	margin-right: 10px;
}

.email {
	margin-left: 10px;
}

.textarea-mess {
	height: 150px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #1E0606;

	padding: 14px 0 11px 20px;
}

.check {
	margin-bottom: 15px;
}

/*-------checkbox--------*/

.input-check {
	position: absolute;
	width: 19px;
	height: 19px;
	z-index: -1;
	opacity: 0;
}

.input-check+.label-check {
	display: inline-flex;
	align-items: center;
	user-select: none;
	margin-bottom: 15px;
 }
 .input-check+.label-check::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	/*flex-shrink: 0;
	flex-grow: 0;*/
	border: 2px solid #C29974;
	border-radius: 3px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	cursor: pointer;
 }


 .input-check:checked+.label-check::before {
	background-image: url("../assets/icon/chek-checked.svg");
	background-size: 11.43px 12.5px;
	background-position: 0% 100%;
	/*width: 11.43px;
	height: 12.5px;*/
 }

/*--------hover-active-label-----*/
.input-check:checked ~ label {
	
}

.input-check:hover ~ label {

}

.input-check:active ~ label.label-check {
	opacity: 0.2;
}

.input-check:disabled ~ label {
	opacity: 0.2;
}

.label-check:active {
	opacity: 0.2;
}

.label-check:disabled {
	opacity: 0.2;
}

.button-submit {
	background: #C1C1C1;
}

.input-check:checked ~ button {
	background: #1E0606;
}


/*-------checkbox--------*/






/*----------крестик------------*/

.popup-close {
	background: rgba(125, 151, 218, 0.0);
	background-image: url(../assets/icon/CLOSE.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 15px;
	height: 15px;
	margin-left: 10px;
}

.popup-close:hover {
	opacity: 0.7;
}

.popup-close:active {
	opacity: 0.4;
}

/*----------крестик------------*/




/*          HOVER/ACTIVE          */
input:hover {
	border: 1px solid #C29974;
}

textarea:hover {
	border: 1px solid #C29974;
}

input:active {
	border: 1px solid #C29974;
}

textarea:active {
	border: 1px solid #C29974;
}

input:disabled {
	border: 1px solid #EBEBEB;
}

textarea:disabled {
	border: 1px solid #EBEBEB;
}

/*--------------------------FORM--------------------------------------------*/
