/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/*----------------------------------------BANNER----------------------------------------------------------*/

.section-banner {
	margin-top: 129px;

}

.list-banner {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #EEE4DB;
	margin-top: 89px;
}

/*-----------------control-banner---------------------*/

.control {
	margin-top: 17px;
	margin-left: 31px;
	padding: 0;
}

.control__number {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	font-size: 60px;
	line-height: 73px;
	color: rgba(30, 6, 6, 0.05);
	margin-left: -3px;
	margin-right: 45px;
}

.control__btn {
	display: block;
	height: 3px;
	margin-bottom: 11px;
	/*padding-bottom: 11px;*/
}

.control__btn input[type=radio] {
	display: none;
}

.control__btn label {
display: inline-block;
cursor: pointer;
padding: 0px 0px;
margin: 0;
line-height: 34px;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
width: 31px;
height: 3px;
background: #D6CAC2;
}

/* Checked */
.control__btn input[type=radio]:checked + label {
background: rgba(30, 6, 6, 0.6);
}
 
/* Hover */
.control__btn label:hover {
	color: #666;
}
 
/* Disabled */
.control__btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}

/*-----------------control-banner----------------------------------*/
/*-----------------the-ooh-noo-collection---explore-now----------------------------*/

.column{
	margin-top: 92px;
	position: relative;
}

.column__title {
	width: 307px;
	font-weight: 700;
	font-size: 40px;
	line-height: 110%;
	color: #1E0606;
	margin-bottom:  17px;
}

.column__italic {
	font-family: 'Crimson Text';
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	margin-bottom:  20px;
	padding: 0;
}

.column__button {
	margin-bottom: 89px;
}

/*-----------------the-ooh-noo-collection---explore-now----------------------------*/
/*----banner-image---------*/
.banner-image {
	position: absolute;
	bottom: 0;
	left: 445px;
	z-index: 1;
}
/*----banner-image---------*/

/*----banner-bottom-text---------*/
.bottom-text {
	background-color: #C29974;
	z-index: 10;
	height: 39.2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 90.8px;
}

.bottom-text__content {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 12px;
	line-height: 16.34px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}
/*----banner-bottom-text---------*/
/*--------------------------------------------------BANNER-----------------------------------------------*/

/*--------------------------------------------------CATEGORY---------------------------------------------*/
/*----title---*/
.section-category__title {
	width: 454px;
	height: 47px;
	font-weight: 700;
	font-size: 38px;
	line-height: 46px;
	margin-bottom: 30px;
}
/*----title---*/
/*----cards---*/
.category {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.category__cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	width: 280px;
	height: 270px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.category__cards-apparel {
	background-color: #DBE4DB;
	margin-right: 20px;
}

.category__cards-holiday {
	background-color: #EADDD3;
	margin-right: 20px;
}

.category__cards-toys {
	background-color: #F8F2DA;
	margin-right: 20px;
}

.category__cards-accessories {
	background-color: #D5D4E1;
}

.category__cards-sale {
	background-color: #F3D0DB;
}

.category__cards-adults {
	background-color: #E5EAF8;
}

.category__cards-link {
	position: absolute;
	color: #FFFFFF;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 26px;
	line-height: 32px;
	text-transform: uppercase;
	text-align: center;
	width: 129px;
}

.category__cards-link:hover {
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
}

.category__cards-link:active {
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
	opacity: 0.9;
}

.card-link-acc {
	width: 192px;
}

/*----cards---*/
/*-----Switch-arrows---------------------------------------*/

	.switch {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 28px 0 90px 0px;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

.switch__left-arrow {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 37px;
	height: 37px;
	background: rgba(112, 187, 220, 0.2);
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0;
	margin-right: 6px;
}

.switch__right-arrow {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 37px;
	height: 37px;
	background: rgba(112, 187, 220, 0.2);
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0;
}


.switch__left-arrow::before {
	content: "";
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	left: 0;
	background-image: url(../assets/icon/arrow-products-left.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 19px;
	height: 30px;
	margin-left: 8px;
	margin-bottom: 2px;
}

.switch__right-arrow::before {
	content: "";
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	left: 0;
	background-image: url(../assets/icon/arrow-products-right.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 19px;
	height: 30px;
	margin-left: 10px;
	margin-bottom: 2px;
}

/*-----hover-------------------------*/

.switch__left-arrow:hover::before {
	content: "";
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	left: 0;
	background-image: url(../assets/icon/arrow-products-left-hoover.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 17px;
	height: 29px;
	margin-left: 9px;
}

.switch__right-arrow:hover::before {
	content: "";
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	left: 0;
	background-image: url(../assets/icon/arrow-products-right-hoover.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 17px;
	height: 29px;
	margin-left: 11px;
}

/*-----hover-------------------------*/
/*-----active-------------------------*/

.switch__left-arrow:active::before {
	content: "";
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	left: 0;
	background-image: url(../assets/icon/arrow-products-left-active.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 17px;
	height: 29px;
	margin-left: 9px;
}

.switch__right-arrow:active::before {
	content: "";
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	left: 0;
	background-image: url(../assets/icon/arrow-products-right-active.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 17px;
	height: 29px;
	margin-left: 11px;
}

/*-----active-------------------------*/
/*-----Switch-arrows---------------------------------------*/
/*-----Switch-text---------------------------------------*/

.switch__text {
	width: 580px;
	height: 44px;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	margin-left: 20px;
	margin-top: 1px;
}

/*-----Switch-text---------------------------------------*/

/*-------------------------------------CATEGORY-----------------------------------------------------------*/
/*-------------------------------------DELIVERY-----------------------------------------------------------*/

.container-delivery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/*---------delivery-image----------------*/
	.section-delivery__image {
		width: 480px;
		height: 559px;
		margin-right: 60px;
	}
/*---------delivery-image----------------*/

/*---------delivery-content----------------*/
.delivery {
	margin-top: 30px;
}

	.delivery__title {
		font-family: 'Montserrat';
		font-weight: 700;
		font-size: 38px;
		line-height: 46.32px;
		text-transform: uppercase;
		margin: 0.5px 0 6px 61px;
	}

	.delivery__inscription {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 326px;
		height: 55px;
		background: rgba(112, 187, 220, 0.2);
		margin-bottom: 9.6px;
	}

	.delivery__inscription-title {
		font-family: 'Crimson Text';
		font-style: italic;
		font-weight: 700;
		font-size: 26px;
		line-height: 33.79px;
		margin-left: 60px;
		letter-spacing: -0.28px;
	}

	.delivery__inscription-guarantee { 
		font-family: 'Crimson Text';
		font-style: italic;
		font-weight: 400;
		font-size: 26px;
		line-height: 34px;
		margin: 0 0 21px 60px;
		letter-spacing: -0.22px;
	}

	.delivery__inscription-credit {
		font-family: 'Crimson Text';
		font-style: italic;
		font-weight: 400;
		font-size: 26px;
		line-height: 34px;
		margin: 0 0 30px 60px;
		letter-spacing: 0.3px;
	}

	.text-some-days {
		width: 480px;
		font-family: 'Open Sans';
		font-weight: 400;
		font-size: 16px;
		line-height: 22.2px;
		margin: 0 0 15.2px 60px;
	}

	.text-what-started {
		width: 480px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 21.79px;
		margin: 0 0 26.8px 60px;
	}

	.button-learn-more{
		width: 149px;
		height: 40px;
		margin-left: 60px;
	}
/*---------delivery-content----------------*/
/*------------------------------------------------------DELIVERY------------------------------------------------------------------*/
/*------------------------------------------------------WORK-WITH----------------------------------------------------------------*/

	.section-work-with {
		margin-top: 90px;
		margin-bottom: 116px;
		font-size: 0;
	}

	.list-work-with {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.list-work-with__item:hover {
		opacity: 0.9;
	}

	.list-work-with__item:active {
		opacity: 0.8;
	}

	/*
	.item__work-with:not(:last-child) {
		margin-right: 127px;
	}
	*/
/*------------------------------------------------------WORK-WITH----------------------------------------------------------------*/
/*------------------------------------------------------BUY-NOW-----AND-MAP------------------------------------------------------*/

.section-about {
	margin-bottom: 155px;
}

.container-about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/*---------design-life-kids----------------*/
	.preview {
		width: 543px;
		height: 228px;
		background: #E1F0F7;
		margin-right: 57px;
	}

	.preview__content,
	.contacts__content {
		position: relative;
		bottom: 25.2px;
	}

	.preview__title {
		font-weight: 700;
		font-size: 38px;
		line-height: 46px;
		margin: 0 0 10.8px 30px;
	}

	.preview__link {
		font-family: 'Crimson Text';
		font-style: italic;
		font-weight: 400;
		font-size: 26px;
		line-height: 34px;
		color: #1E0606;
		margin-left: 30px;
		letter-spacing: 0.02px;
	}

	.preview__text-buy-now {
		width: 483px;
		font-family: 'Open Sans';
		font-weight: 400;
		font-size: 16px;
		line-height: 22.2px;
		margin: 8px 0 20.8px 30px;
	}

	.preview__button {
		width: 123px;
		height: 40px;
		margin-left: 30px;
		/*margin-bottom: 27.02px;*/
	}
/*---------design-life-kids----------------*/
/*---------contacts-map----------------*/

	.contacts {
		width: 543px;
		height: 209px;
		background: #E1F0F7;
	}

	.contacts__title {
		width: 217px;
		height: 47px;
		left: 740px;
		top: 2043px;
		font-weight: 700;
		font-size: 38px;
		line-height: 46px;
		margin: 0 0 19.02px 30px;
	}

	.contacts__text {
		width: 483px;
		height: 66px;
		font-family: 'Open Sans';
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		margin: 0 0 30px 30px;
	}

	.contacts__map {
		margin-left: 30px;
	}
/*---------contacts-map----------------*/

/*--------------------------------------------------------------------------BUY-NOW-----AND-MAP------------------------------------------------------------------*/



/*--------------------------FORM--------------------------------------------*/

.section-form {
	display: none;
	width: 100%;
	min-height: 100%;
	position: absolute;
	background: rgba(125, 151, 218, 0.8);
	top: 0;
	z-index: 12;
}

/*---for---js---*/
.open {
	display: block;
	position: fixed;
	
}
/*---for---js---*/

.container-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 112px;
	margin-left: 22px;
}

.popup {
	width: 680px;
	padding: 40px 42px;
	background: #E5EAF8;
	
}

/*----for-all---*/
label {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #1E0606;
	margin-bottom: 7.2px;
}

input {
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #1E0606;
	padding: 14px 0 11px 20px;
}
/*----for-all---*/

.form__name {
	margin-top: 2px;
}

.form__name-input {
	width: 600px;
	height: 50px;
	padding-left: 20px;
}

.form__tel-email {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.form__tel {
	margin-right: 10px;
}

.form__email {
	margin-left: 10px;
}

.form__tel-input,
.form__email-input {
	width: 290px;
	height: 50px;
}

.form__name, .form__tel, .form__email, .form__mess {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-bottom: 20px;
	width: 100%;
}

.form__mess-textarea {
	width: 600px;
	height: 150px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #1E0606;
	padding: 14px 0 11px 20px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

/*-------checkbox--------*/

.input-check {
	position: absolute;
	width: 19px;
	height: 19px;
	z-index: -1;
	opacity: 0;
}

.label-check {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	/* identical to box height */
	
	
	/* Black */
	
	color: #1E0606;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.input-check+.label-check {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	margin-bottom: 18px;
}
.input-check+.label-check::before {
	content: '';
	display: inline-block;
	width: 19px;
	height: 19px;
	/*flex-shrink: 0;
	flex-grow: 0;*/
	border: 2px solid #C29974;
	border-radius: 3px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	cursor: pointer;
	margin-right: 15px;
}


.input-check:checked+.label-check::before {
	background-image: url("../assets/icon/chek-checked.svg");
	background-size: 15px 17px;
	background-position: 100% 100%;
	/*width: 11.43px;
	height: 12.5px;*/
}

/*--------hover-active-label-----*/
.input-check:checked ~ label {
	
}

.input-check:hover ~ label {

}

.input-check:active ~ label.label-check {
	opacity: 0.2;
}

.input-check:disabled ~ label {
	opacity: 0.2;
}

.label-check:active {
	opacity: 0.2;
}

.label-check:disabled {
	opacity: 0.2;
}






/*-------checkbox--------*/



/*  ----------  INPUT-CHECK  SUBMIT-DISABLED  ---------  */

.input-check ~ .button-submit {
	display: none;
}

.input-check:checked ~ .button-disabled  {
	display: none;
}

.input-check:checked ~ .button-submit {
	display: block;
}

.button-submit,
.button-disabled {
	width: 106px;
	margin-bottom: 4px;
}



/*  ----------  INPUT-CHECK  SUBMIT-DISABLED  ---------  */


/*----------close------------*/

.popup-close {
	background: rgba(125, 151, 218, 0.0);
	background-image: url(../assets/icon/CLOSE.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 15px;
	height: 15px;
	margin-left: 10px;
}

.popup-close:hover {
	opacity: 0.7;
}

.popup-close:active {
	opacity: 0.4;
}

/*----------close------------*/




/*          HOVER/ACTIVE          */
input:hover {
	border: 1px solid #C29974;
}

textarea:hover {
	border: 1px solid #C29974;
}

input:active {
	border: 1px solid #C29974;
}

textarea:active {
	border: 1px solid #C29974;
}

input:disabled {
	border: 1px solid #EBEBEB;
}

textarea:disabled {
	border: 1px solid #EBEBEB;
}

/*--------------------------FORM--------------------------------------------*/

