header {
	margin-bottom: 60px;
}

/*-------------BREADCRUMBS-----------------------------------*/
.section__title-and-breadcrumb {
	margin-bottom: 50px;
}

h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	text-transform: uppercase;
	color: #1E0606;
	margin-bottom: 15px;
}

.breadcrumb {
	display: flex;
}

.item-breadcrumb {
	margin-right: 20px;
}

.item-breadcrumb:last-child {
	opacity: 0.5;
}

.link-breadcrumb {
	font-family: 'Crimson Text';
	font-style: italic; 
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #1E0606;
}

.item-breadcrumb:not(:last-child)::after {
	display: inline-block;
	content: "";
	background-image: url(../assets/icon/arrow.svg);
	width: 8px;
	height: 12px;
	
	/* Black */
	
	background-repeat: no-repeat;
	background-size: cover;

	margin-left: 20px;
	margin-right: 2opx;
}

/*-------------BREADCRUMBS-----------------------------------*/
/*-------------PARAMETERS-------------------------------------*/

.section__parameters {
	background: rgba(125, 151, 218, 0.2);
	margin-bottom: 60px;
}

.container__parameters {
	display: flex;
}

.form-parameters {
	display: flex;
	margin-top: 42px;
}

legend {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #1E0606;
	margin-bottom: 9px;

}

/*-------0-500-------------------*/
/*POLZUNOK------------------------------------------------------*/

/*
input[type=range] {
	height: 10px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
 }
 input[type=range]:focus {
	outline: none;
 }
 input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: #c29974;
 }
 input[type=range]::-webkit-slider-thumb {
	border: 8px solid #c29974;
	height: 24px;
	width: 24px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
	margin-top: -6px;
 }
 input[type=range]:focus::-webkit-slider-runnable-track {
	background: #c29974;
 }
 input[type=range]::-moz-range-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	background: #c29974;
 }
 input[type=range]::-moz-range-thumb {
	border: 8px solid #c29974;
	height: 24px;
	width: 24px;
	border-radius: 50px;
	cursor: pointer;
 }
 input[type=range]::-ms-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
 }
 input[type=range]::-ms-fill-lower {
	background: #c29974;
	border-radius: 50px;
 }
 input[type=range]::-ms-fill-upper {
	background: #c29974;
	border-radius: 50px;
 }
 input[type=range]::-ms-thumb {
	margin-top: 1px;
	border: 8px solid #c29974;
	height: 24px;
	width: 24px;
	border-radius: 50px;
	cursor: pointer;
 }
 input[type=range]:focus::-ms-fill-lower {
	background: #c29974;
 }
 input[type=range]:focus::-ms-fill-upper {
	background: #c29974;
 }  
*/
/*-------0-500-------------------*/
/*-------colors-------------------*/

.parameters-colors {
	margin-right: 124px;
}

.input-colors {
	position: absolute;
	width: 19px;
	height: 19px;
	z-index: -1;
	opacity: 0;
}

.input-colors+.label-colors {
	display: inline-flex;
	align-items: center;
	user-select: none;
	margin-bottom: 15px;
 }
 .input-colors+.label-colors::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	/*flex-shrink: 0;
	flex-grow: 0;*/
	border: 2px solid #C29974;
	border-radius: 3px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	cursor: pointer;
 }


 .input-colors:checked+.label-colors::before {
	background-color: #FFFFFF;
	background-image: url("../assets/icon/chek-checked.svg");
	background-size: 11.43px 12.5px;
	background-position: 100% 100%;
	/*width: 11.43px;
	height: 12.5px;*/
 }
/*
.input-colors:not(:last-child) {
	margin-bottom: 15px;
}*/

.label-colors {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #1E0606;
	margin-left: 0;
	margin-left: 6px;
	cursor: pointer;
}

/*--------hover-active-label-----*/
.input-colors:checked ~ label {
	text-decoration: underline;
}

.input-colors:hover ~ label {
	text-decoration: underline;
}

.input-colors:active ~ label.label-colors {
	text-decoration: underline;
	opacity: 0.2;
}

.input-colors:disabled ~ label {
	opacity: 0.2;
}

/*отдельно label при повторной клике*/
.label-colors:checked {
	text-decoration: underline;
}

.label-colors:hover {
	text-decoration: underline;
}

.label-colors:active {
	text-decoration: underline;
	opacity: 0.2;
}

.label-colors:disabled {
	opacity: 0.2;
}
/*--------hover-active-label-----*/

/*-------colors-------------------*/
/*-------delivery------------------------------------------------------------------*/

.parameters-delivery {
	margin-right: 69.02px;
}

.radio {
	display: block;
	margin-bottom: 10px;
	align-content: center;
}

.label-delivery {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #1E0606;
	margin-left: 6px;
	display: inline-flex;
	cursor: pointer;
}


.input-delivery {
	position: absolute;
	z-index: -1;
	opacity: 0;
}


	
.input-delivery ~ label.label-delivery {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

/*--------hover-active-label-----*/
.input-delivery:checked ~ label.label-delivery {
	text-decoration: underline;
}

.input-delivery:hover ~ label.label-delivery {
	text-decoration: underline;
}

.input-delivery:active ~ label.label-delivery {
	text-decoration: underline;
	opacity: 0.2;
}

/*отдельно label при повторной клике*/
.label-delivery:checked {
	text-decoration: underline;
}

.label-delivery:hover {
	text-decoration: underline;
}

.label-delivery:active {
	text-decoration: underline;
	opacity: 0.2;
}

.label-delivery:disabled {
	opacity: 0.2;
}
/*--------hover-active-label-----*/
	

.input-delivery ~ label.label-delivery::before {
	content: '';
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 2px solid #C29974;
	border-radius: 50%;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
	
/* стили при наведении курсора на радио */
.input-delivery:not(:disabled):not(:checked) ~ label:hover::before {
	border-color: #C29974;
	text-decoration-line: underline;
 }
 /* стили для активной радиокнопки (при нажатии на неё) */
 .input-delivery:not(:disabled):active ~ label::before {
	/*---*/
 }
 /* стили для радиокнопки, находящейся в фокусе */
 .input-delivery:focus ~ label::before {
	/*--*/
 }
 /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
 .input-delivery:focus:not(:checked) ~ label::before {
	/*---*/
}
 
/* стили для радиокнопки, находящейся в состоянии checked */
.input-delivery:checked ~ label::before {
	border-color: #C29974;
	background: rgba(125, 151, 218, 0.0);
	background-image: url(../assets/icon/radio-checked.svg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}
 /* стили для радиокнопки, находящейся в состоянии disabled */
 .input-delivery:disabled ~ label::before {
	border: 2px solid #E1CDBA;
	background-color: #e9ecef;
 }







/*--------------------------------*/
/*-------delivery--------------------------------------------------------------------*/
/*-------amount-------------------*/

.parameters-amount {
	margin-right: 60px;
}

.block-amount {
	display: flex;
}

.button-amount {
	background: #FFFFFF;
}

.input-amount {
	width: 80px;
	height: 35px;
	background: #FFFFFF;
}

.input-amount:hover {
	background: #EDDEEB;
}

.input-amount:active {
	background: #F3D0DB;
}


/*
.label-amount {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #1E0606;
}
*/

/*-------amount-------------------*/
/*-------apply-------------------*/
.button__apply {
	margin-top: 37px;
	width: 96px;
}
/*-------apply-------------------*/

/*-------------PARAMETERS-------------------------------------------------*/
/*-------------PRODUCTS-------------------------------------------------*/

.section__products {
	
}

.container__products {

}

.products {
	display: flex;
	flex-wrap: wrap;
}

.block {
	position: relative;
	width: 380px;
	height: 497px;
}

/*--------LEARN--MORE------*/

.link-lern {
	display: block;
	position: relative;
	z-index: 15;
}

.learn-more {
	position: absolute;
	display: flex;
	top: 89.02px;
	left: 87px; 
	width: 207px;
	height: 207px;
	background: #E5EAF8;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
	/*display:none;*/
}

.learn-link {
	display: flex;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 29px;
	/* identical to box height */
	
	text-align: center;
	text-transform: uppercase;
	/* Black */
	
	color: #1E0606;
	
	text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}


/*.block:hover .learn-more {
	display: flex;
}*/




.block .link-learn {
	display: none;
}



.block:hover a.link-learn {
	display: block;
	
}


.block:active a.link-learn {
	display: block;
	opacity: 0.67;
}







/*--------BLOCK--HOVER------*/

.signature {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	color: #1E0606;
	margin: 30px 0 15px 0;
}

.price {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #1E0606;
}

.switch {
	display: flex;
	position: relative;
	justify-content: center;
	margin-bottom: 60px;
	margin-top: 50px;
}

.list-pages-product {
	display: flex;
	align-content: center;
}

/*-------------button-browsing---------------*/
/*-----button-number-----*/
.button-prod {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #1E0606;
	background-color: #FFFFFF;
}

.item-prod:not(:last-child) {
	margin-right: 64px
}

.button-prod:hover {
	color: #C29974;
}

.button-prod:active {
	color: #AAAAAA;
}
/*-----button-number-----*/
/*-----button-arrow--------*/
.arrow {
	display: block;
	width: 13px;
	height: 26px;
}

.arrow-left {
	position: absolute;
	left: 0;
	background-image: url(../assets/icon/arrow-products-left-opacity.svg);
	background-color: #FFFFFF;
	background-size: cover;
	background-repeat: no-repeat;
	width: 16px;
	height: 26px;
}

.arrow-right {
	position: absolute;
	right: 0;
	background-image: url(../assets/icon/arrow-products-right-opacity.svg);
	background-color: #FFFFFF;
	background-size: cover;
	background-repeat: no-repeat;
	width: 16px;
	height: 26px;
}
/*-----button-arrow--------*/
/*-----button-arrow-hover--------*/
.arrow-left:hover {
	position: absolute;
	left: 0;
	background-image: url(../assets/icon/arrow-products-left-hoover.svg);
	background-color: #FFFFFF;
	background-size: cover;
	background-repeat: no-repeat;
	width: 16px;
	height: 26px;
}

.arrow-right:hover {
	position: absolute;
	right: 0;
	background-image: url(../assets/icon/arrow-products-right-hoover.svg);
	background-color: #FFFFFF;
	background-size: cover;
	background-repeat: no-repeat;
	width: 16px;
	height: 26px;
}
/*-----button-arrow-hover--------*/
/*-----button-arrow-active--------*/
.arrow-left:active {
	position: absolute;
	left: 0;
	background-image: url(../assets/icon/arrow-products-left-active.svg);
	background-color: #FFFFFF;
	background-size: cover;
	background-repeat: no-repeat;
	width: 16px;
	height: 26px;
}

.arrow-right:active {
	position: absolute;
	right: 0;
	background-image: url(../assets/icon/arrow-products-right-active.svg);
	background-color: #FFFFFF;
	background-size: cover;
	background-repeat: no-repeat;
	width: 16px;
	height: 26px;
}
/*-----button-arrow-active--------*/
/*-------------button-browsing---------------*/
/*-------------PRODUCTS-------------------------------------------------*/

.footer {
	margin-top: 0;
}